<!DOCTYPE html>
<html lang="cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>main</title>
  <style>
    *{
      margin:0;
      padding: 0;
    }
    .chat-room-main {
      width: 800px;
      height: 600px;
      border: solid 1px #ddd;
      margin: 0 auto;
      box-shadow: 5px 5px 5px #efefef;
    }

    .chat-room-title {
      height: 10%;
      border-bottom: solid 1px #ddd;
      text-align: center;
      line-height: 60px;
    }

    .chat-room-body {
      height: 90%;
    }

    .chat-room-friend {
      float: left;
      width: 10%;
      height: 80%;
      border-right: solid 1px #ddd;
      border-bottom: solid 1px #ddd;
    }

    .chat-room-friend-item {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background: #ddd;
      text-align: center;
      color: #fff;
      font-size: 20px;
      line-height: 50px;
      font-weight: bold;
      margin:10px auto;
      cursor: pointer;
    }

    .chat-room-message {
      float: left;
      width: 89.8%;
      height: 80%;
      border-bottom: solid 1px #ddd;
      overflow: auto;
    }
    .chat-room-msg-group{
      width: 100%;
      float: left;
      }
      .chat-room-msg-item{
         float:left;
         width: 50px;
         height: 50px;
         border-radius: 25px;
         background: #ddd;
         text-align: center;
         color: #fff;
         font-size: 20px;
         line-height: 50px;
         font-weight: bold;
         margin:10px auto;
         cursor: pointer;
      }
      .chat-room-msg-data{
        float: left;
        background:rgb(20, 245, 0);
        border-radius: 10px;
        height: 50px;
        color: #fff;
        font-size: 18px;
        margin:10px 0 10px 10px;
        line-height: 50px;
        padding:0 10px;
     }
    .chat-room-send {
      float: left;
      width: 100%;
      height: 20%;
    }
    .chat-room-send-data{
      width: 79.5%;
      height: 92.5%;
      border:none;
      resize:none;
      float: left;
    }
    .chat-room-send-btn{
      width: 20%;
      height: 99.5%;
      font-size: 25px;
    }
    .chat-room-nick-name-main{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
    }
    .nick-name-shade{
      background: rgba(0, 0, 0, .85);
      z-index: 1;
    }
    .chat-room-nick-name{
      border-radius: 10px;
      border:solid 1px #ddd;
      width: 300px;
      height: 150px;
      position:fixed;
      top: 20%;
      background: #fff;
      right: 40%;
      z-index: 2;
    }
    .nick-name-shade{
      width: 100%;
      height: 100%;
    }
    .nick-name-head{
      height: 20%;
      padding: 5px 10px;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
    }
    .nick-name-data{
      height: 50%;
      text-align: center;
      line-height: 70px;
    }
    .nick-name-footer{
      height: 30%;
      border-top: 1px solid #ddd;
      padding:10px;
    }
    .nick-name-footer>button{
      float:right;
      width: 50px;
      height: 30px;
      background: red;
      border-radius: 10px;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div class="chat-room-main">
    <div class="chat-room-title">
      <font>欢乐聊天室</font>
    </div>
    <div class="chat-room-body">
      <!-- <div class="chat-room-friend" id="clients">
      </div> -->
      <div class="chat-room-message" id="msgBody">
      </div>
      <div class="chat-room-send">
        <textarea type="text" id="msg" class="chat-room-send-data"></textarea>
        <button type="button" class="chat-room-send-btn" id="send">
          发送
        </button>
      </div>
    </div>
  </div>
  <div class="chat-room-nick-name-main" id="nickBaneGroup">
    <div class="nick-name-shade"></div>
    <div class="chat-room-nick-name">
      <form>
        <div class="nick-name-head">
          聊天昵称
        </div>
        <div class="nick-name-data">
          <label>昵称：</label>
          <input type="text" id="nickName" />
        </div>
        <div class="nick-name-footer">
          <button type="button" id="submitNickName">确定</button>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script>
    const NICK_NAME = 'NICKNAME';
    let storageNickName = sessionStorage.getItem(NICK_NAME) || '';
    let userInfo = [];
    window.onload = function () {
      let socket = io()
      let docSend = document.getElementById('send')
      let msg = document.getElementById('msg')
      let btnNickNameOk = document.getElementById('submitNickName')
      let nickNameGroup = document.getElementById('nickBaneGroup')
      let nickName;
      if (storageNickName !== '') {
        // 隐藏当前昵称输入框
        nickNameGroup.style = 'display:none;'
        nickName = {
          value: storageNickName.nickName
        }
        // 推送当前昵称，并进行广播
        socket.emit('sendNickName', {
          nickName: storageNickName.nickName
        })
      } else {
        nickName = document.getElementById('nickName')
      }
      // 记录nickName
      btnNickNameOk.onclick = () => {
        if (nickName.value && nickName.value === '') {
          return false;
        }
        socket.emit('sendNickName', {
          nickName: nickName.value
        })
        // 隐藏当前昵称输入框
        nickNameGroup.style = 'display:none;'
      }
      // 发送消息
      docSend.onclick = () => {
        socket.emit('sendMsg', {
          nickName: nickName.value,
          message: msg.value
        })
        // 发送成功后清除聊天内容
        msg.value = ''
      }
      // 接收广播信息
      socket.on('messageData', msg => {
        console.log(msg)
        createMessage(msg)
      })
      // 记录当前临时用户名
      socket.on('storageNickName', data => {
        sessionStorage.setItem(NICK_NAME, data)
      })
    }
    // 创建聊天内容气泡
    function createMessage(msg) {
      console.log(userInfo)
      let group = document.createElement('div')
      group.className = 'chat-room-msg-group'
      let item = document.createElement('div')
      item.className = 'chat-room-msg-item'
      let itemText = document.createTextNode(msg.nickName)
      item.appendChild(itemText)
      let data = document.createElement('div')
      data.className = 'chat-room-msg-data'
      group.appendChild(item)
      let dataText = document.createTextNode(msg.message)
      data.appendChild(dataText)
      group.appendChild(data)
      let msgBody = document.getElementById('msgBody')
      msgBody.appendChild(group)
    }
    // // 创建在线用户
    // function createClients(){
    //   // <div class="chat-room-friend-item">
    //   //   </div>
    // }
  </script>
</body>

</html>